doctype html
html
  head
    title Form Creator - Description
    link(rel='stylesheet', href='editor.css', type='text/css')
  body
    | Logged in as 
    span.username.italic #{username} 
    form(method='POST',action='list',style='display:inline')
        input(type='submit',value='My Forms')
    form(method='POST',action='logout',style='display:inline')
        input(type='submit',value='Logout')
    input(type='text',value='New Form').input.maintitle
    #container
      #data
      span#add.add You need javascript to use Form Creator
    script(type='text/javascript', src='socket.io/socket.io.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.js')
    script(type='text/javascript', src='js.js')
