doctype html
html
  head
    title Form Creator - My Forms
    link(rel='stylesheet', href='main.css', type='text/css') 
  body
    | Logged in as 
    span.username.italic #{username} 
    a(href='settings') Account Settings
    a(href='logout') Logout
    ul
      li
        a(href='/newform') New Form
      each file in files
        li
          a(href='/newform?id=' + file.uuid)= file.name
          a(href='/deleteform/' + file.uuid)  [x]
