doctype html
html
  head
    title Form Creator - My Forms
    link(rel='stylesheet', href='main.css', type='text/css') 
  body
    | Logged in as 
    span.username.italic #{username} 
    a(href='forms') My Forms
    a(href='logout') Logout
    input(type='text',value='#(username)',placeholder='Change Username')
